@media screen and (max-width: 768px) and (min-width: 120px) {
    header{
        color:white;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    form{
        width: 100%;
        padding:0.5em;
        height: 5vh;
        
    }
    #place{
        color: rgba(255, 255, 255, 0.891);
    }
    .search{
        width: 90%;
    }

    .weather-container{
        height: 200vh;
        flex-direction: column;
        padding: 0.5em 0em;
    }

    .current-weather-container{
        width: 100%;
        height: 35%;
    }

    .weather-forecast-container{
        width: 100%;
        margin: 30px;
    }

    .weather-forecast-container .weather-forecast{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 2fr);
    }

    .forecast-item .forecast-item-details{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
    }
    
    footer {
        color: white;
        text-align: center;
    }
   
}


@media screen and (max-width: 1023px) and (min-width: 765px) {
    header{
        width: 100%;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        color: white;
        top: 0; 
    } 
    /* Form Style */
    form{
        margin-top: 5em;
        width: 100%;
        padding:0.5em;
        flex-direction: column;
    }
    .search{
        width: 70%;
    }
    #place{
        color: rgba(255, 255, 255, 0.891);
    }
    .current-weather-container{
        width: 40%;
    }
    .curr-weather-details{
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }
    .weather-forecast-container{
        width: 60%;
    }
    .weather-forecast-container .weather-forecast{
        grid-template-columns: repeat(2, 2fr);
    }
    footer {
        color: white;
        text-align: center;
    }
}